// "Dark", "Light", "Monokai", "Synthwave"
:root {
  --font-size: 20px;
  --cell-padding: 20px;
  --a: rgb(216, 212, 207);
  --a-05: rgb(216, 212, 207, 0.5);
  --b: rgb(38, 35, 53);
  --b-025: rgb(38, 35, 53, 0.25);
  --c: #241b2f;
  --d: #171520;
  --e: #362b48;
  --f: #fff;
}
body.dark {
  --a: #d8d4cf;
  --a-05: rgb(216, 212, 207, 0.5);
  --b: #262335;
  --b-025: rgb(38, 35, 53, 0.25);
  --c: #241b2f;
  --d: #171520;
  --e: #362b48;
  --f: #fff;
}
body.light {
  --a: rgb(46, 45, 43);
  --a-05: rgb(46, 45, 43, 0.5);
  --b: rgb(240, 240, 240);
  --b-025: rgb(240, 240, 240, 0.25);
  --c: #fff;
  --d: #E9E9E9;
  --e: #F6F8FA;
  --f: #000;
  .invert,
  #logo {
    filter: invert(1) grayscale(1) !important;
  }
}
body.monokai {
  --a: #d8d4cf;
  --a-05: rgb(216, 212, 207, 0.5);
  --b: #262335;
  --b-025: rgb(38, 35, 53, 0.25);
  --c: #241b2f;
  --d: #171520;
  --e: #362b48;
  --f: #fff;
}