:root {
  --white: #d8d4cf;
  --cell-padding: 20px;
}

$white: #d8d4cf;
$dark1: #262335;
$dark2: #241b2f;
$dark3: #171520;
$dark4: #362b48;

// "Dark", "Light", "Monokai", "Synthwave"
body.dark {
  //color: red !important;
}