::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--dot);
}
::-webkit-scrollbar-thumb:active {
  background: var(--number);
}
html {
  font-size: var(--font-size);
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  background: var(--c);
  color: var(--a);
}
a {
  text-decoration: none;
  color: var(--a);
}
svg,
img {
  width: 1.2rem;
  height: 1.2rem;
}
svg:not([unmodified]) {
  vertical-align: text-bottom;
  &,
  path {
    fill: var(--a);
  }
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* animations */

@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* transitions */

.reveal-enter-active,
.reveal-leave-active {
  transition: opacity 150ms;
}
.reveal-enter-from,
.reveal-leave-to {
  opacity: 0;
}
.slide-enter-active {
  transition: opacity 350ms, transform 350ms;
  &.slide-move {
    transition: opacity 350ms 350ms, transform 350ms !important;
  }
}
.slide-leave-active {
  display: none !important;
}
.slide-enter-from {
  opacity: 0;
  transform: translateX(10%);
}
.slide-enter-from-left {
  &.slide-enter-from,
  .slide-enter-from {
    transform: translateX(-10%) !important;
  }
}
