::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--dot);
}
::-webkit-scrollbar-thumb:active {
  background: var(--number);
}
html {
  font-size: var(--font-size);
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  background: var(--c);
  color: var(--a);
}
a {
  text-decoration: none;
  color: var(--a);
}
svg {
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: text-bottom;
  &,
  path {
    fill: var(--a);
  }
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes reveal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
