@media screen and (max-width: 1920px) {
  :root {
    --font-size: 18px;
    --cell-padding: 20px 10px;
  }
}
@media screen and (max-width: 1680px) {
  :root {
    --font-size: 16px;
    --cell-padding: 20px 5px;
  }
}
@media screen and (max-width: 1536px) {
  :root {
    --font-size: 14px;
  }
}
@media screen and (max-width: 1440px) {
  #dynamic-content > div:not(#about) {
    padding: 0 !important;
  }
  #sidebar {
    padding-right: 20px;
  }
}
@media screen and (max-width: 1366px) {
  #app {
    grid-template: min-content/1fr !important;
    min-height: 100vh;
    height: auto !important;
  }
  #menu-icon {
    left: 50%;
    top: 20px;
  }
  #intro {
    padding: 5vw 45vw 2vw 5vw !important;
  }
  #links {
    align-items: initial;
    padding-top: 5% !important;
    gap: 20px;
    flex-direction: column;
    & > div {
      white-space: nowrap;
    }
  }
  #socials {
    gap: 30px !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
  }
  #columns {
    white-space: normal;
    & > div {
      padding: 10px;
    }
  }
  #sidebar {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    background: var(--b-025);
    backdrop-filter: blur(5px);
    transition: background 0.5s, backdrop-filter 0.5s, opacity 0.5s;
  }
}
@media screen and (max-width: 768px) {
  :root {
    --cell-padding: 10px 5px;
  }
  #themes {
    position: fixed !important;
    left: calc(50% - 10vw) !important;
    width: 20vw;
    text-align: center;
    background: var(--c);
    border-radius: 0 0 8px 8px;
    opacity: 0;
  }
  #menu-icon {
    left: initial;
  }
  #intro {
    padding: 5vw 5vw 2vw !important;
  }
  #links > div {
    text-align: center;
    gap: 0 !important;
    & > * {
      flex: auto;
    }
  }
  #section-choice a {
    flex: 1 1 0;
  }
  .are-projects #columns > div {
    flex: auto;
    &:first-child,
    &:not(.sortable) {
      display: none;
      transition: none !important;
    }
  }
  #projects {
    overflow: hidden !important;
    & > div {
      flex-wrap: wrap;
    }
    .app-name {
      flex: 1 1 100% !important;
      padding: 10px 20px !important;
    }
    .icons {
      position: relative;
      flex: 1 1 100%;
      &::before {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        color: var(--a-05);
      }
      &.links:before {
        content: "Links:";
      }
      &.tech::before {
        content: "Tech:";
      }
    }
  }
  #sidebar {
    left: 0;
  }
  .modal-container {
    width: 100% !important;
    height: 100% !important;
    .app-name {
      padding: 0 !important;
    }
  }
  .modal-close {
    align-items: normal;
    padding: 30px 40px !important;
  }
  #modal-project-header {
    flex-direction: column;
    align-items: normal;
  }
  #modal-nav {
    right: 40px;
    div {
      flex: 1;
      text-align: center;
    }
  }
  #about > div {
    @include about-narrow;
  }
  .about-title {
    display: flex !important;
  }
}
@media (orientation: portrait) and (max-width: 1366px) {
  #logo.completed {
    filter: none;
  }
}
@media (orientation: landscape) and (max-width: 1366px) {
  .modal-container {
    width: 100% !important;
    height: 100% !important;
    overflow: auto;
  }
  #themes {
    z-index: 98; // below modal popup
  }
  #modal-screenshot {
    margin: 0 40px;
    img,
    svg {
      width: 100%;
      height: auto;
    }
  }
}
@media screen and (max-width: 372px) {
  :root {
    --font-size: 12px;
  }
}
@media screen and (max-width: 320px) {
  :root {
    --font-size: 10px;
  }
}
